
/* -------  About  ------- */
.container {
  width:100%;
  padding:0 2%;
  display:flex;
  flex-direction:column;
  counter-reset:section;
  composes:standard from 'styles/shared.css';
}
.heading {
  font-size:2em;
  margin-bottom:0.5em;
  text-align:center;
}
