
/* -------  about container  ------- */
.aboutContainer {
  width:100%;
  padding:0 2%;
  display:flex;
  flex-direction:column;
  counter-reset:section;
  composes:standardContainer from 'styles/shared.css';
}



/* -------  about header  ------- */
.aboutHeader {
  font-size:2em;
  margin-bottom:0.5em;
  text-align:center;
}

/* -------  about header  ------- */
.aboutIntro {
  margin-bottom:2em;
}

/* -------  about header  ------- */
.aboutLink {
  border-bottom:1px solid currentColor;
}

/* -------  about header  ------- */
.aboutSection {
  margin-bottom:2em;
}

/* -------  about header  ------- */
.aboutSubHeader {
  margin-bottom:0.5em;
}
.aboutSubHeader::before {
  display: inline;
  border-bottom: 1px solid #070707;
  margin-right: .4em;
  counter-increment: section;
  content: counter(section,lower-roman) ". ";
}

/* -------  about header  ------- */
.aboutInfo {
  margin-bottom:1em;
}

/* -------  about header  ------- */
.aboutList {
  font-size:.9em;
  padding-left:2em;
  margin-bottom:2em;
  list-style-type:circle;
}

/* -------  about header  ------- */
.aboutListItem {
  margin:0.5em 0;
}
