.dateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5em 0 1.25em;
  font-size: 1.25em;
}
.dateContainer li {
  margin: 0 1.5em;
}
.currentDay {
  font-size: 160%;
}
.dayContainer {
  display: flex;
  flex-direction: column;
}

.upperStr {
  color: #070707;
}

.lowerStr {
  font-size: 80%;
  color: #5a5a5a;
}
