.dateContainer { height:3em }
.daysList { display:flex;justify-content:space-between;align-items:center;height:100% }
.dayItem { display:block }
.arrowItem { font-size:1.1em;composes:dayItem }
.arrowItem a { display:flex;padding:0.4em }
