
/* -------  Header  ------- */
.container {
  background:$white;
  color:$black;
  width:100%;
  font-size:1.2em;
  z-index:10;
}
.menuOpen {
  composes:container;
}
.innerContainer {
  height:60px;
  padding:0 2%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}


/* -------  Logo  ------- */
.logo {
  display:block;
  height:48px;
  padding:1.2%;
}

/* -------  Trigger  ------- */
.trigger {
  width:52px;
  height:52px;
  position:relative;
  cursor:pointer;
}
.triggerLine {
  height:2px;
  width:24px;
  display:block;
  background:$black;
  position:absolute;
  top:25px;left:14px;
  transition:transform 0.22s;
}
.triggerTop {
  transform:translateY(-4px);
  composes:triggerLine;
}
.triggerBottom {
  transform:translateY(4px);
  composes:triggerLine;
}
.menuOpen .triggerTop {
  transform:rotate(-135deg);
}
.menuOpen .triggerBottom {
  transform:rotate(135deg);
}

/* -------  Menu  ------- */
.menu {
  background:$real_white;
  overflow:hidden;
  transition:max-height 0.22s;
}
.list {
  padding:0.75em 1em 0;
}
.item, .extra {
  margin-bottom:0.4em;
}
.extra:last-child {
  margin-bottom:0.2em;
}
.block {
  display:block;
  height:0.5em;
}
.link {
  display:block;
  padding-top:0.4em;
}
.link::after, :global(.active::after) {
  content:'';
  display:block;
  height:1px;
  background-image:linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,0));
}
.extra .link {
  font-size:85%;
}
.icon {
  content:'';
  display:inline-block;
  height:1em;
  width:1.5em;
  margin:0.2em 0.2em 0 0;
  float:left;
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position:center center;
}

/* -------  Footer  ------- */
.footer {
  height:2em;
  font-size:1.6em;
  color:$black;
}


@media only screen and (max-width:666px) {

  /* -------  Menu  ------- */
  .text {
    display:inline-block;
    transform:translateX(0px);
    transition:transform 0.22s;
  }
  @media (hover) {
    .link:hover .text {
      transform:translateX(10%);
    }
  }
}


@media only screen and (min-width:550px) and (max-width:$medium) {

  /* -------  Header  ------- */
  .container {
    font-size:1.25em;
  }
}


@media only screen and (min-width:$medium) {

  /* -------  Header  ------- */
  .container {
    line-height:1;
    height:60px;
    padding:0 2%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-shrink:0;
  }
  .innerContainer {
    padding:0;
  }

  /* -------  Trigger  ------- */
  .trigger {
    display:none;
  }

  /* -------  Menu  ------- */
  .menu {
    background:initial;
    flex-grow:1;
    max-width:667px;
  }
  .list {
    padding:0;
    margin-left:6.66%;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  .item {
    margin:6px 1% 0;
  }
  .extra {
    margin:6px 0.5% 0;
  }
  .extra:last-child {
    margin-bottom:inherit;
  }
  .link {
    padding-top:0;
    position:relative;
  }
  .link::after, :global(.active::after) {
    width:0;
    position:absolute;
    transition:width 0.22s;
  }
  :global(.active::after) {
    width:100%;
  }
  @media (hover) {
    .link:hover::after {
      width:100%;
    }
  }
  .block {
    height:30px;
    width:2px;
    background:$black;
    margin:0 1%;
  }
  .link {
    display:block;
    padding:4px 0;
  }
  .link::after {
    bottom:2px;
  }
  .link:hover .text {
    transition:initial;
  }
}
