
/* -------  header container - menu closed  ------- */
.headerContainer {
  background:#f5f5f5;
  color:#070707;
  width:100%;
  font-size:1.2em;
  z-index:10;
}

/* -------  logo container  ------- */
.logoContainer {
  height:60px;
  padding:0 2%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
/* -------  logo  ------- */
.logo {
  display:block;
  height:48px;
  padding:1%;
}

/* -------  trigger  ------- */
.trigger {
  width:52px;
  height:52px;
  position:relative;
  cursor:pointer;
}
/* -------  trigger line  ------- */
.triggerLine {
  height:2px;
  width:24px;
  display:block;
  background:#070707;
  position:absolute;
  top:25px;
  left:14px;
  transition:transform 0.22s;
}
/* -------  trigger line - top  ------- */
.triggerLineTop {
  transform:translateY(-4px);
  composes:triggerLine;
}
/* -------  trigger line - bottom  ------- */
.triggerLineBottom {
  transform:translateY(4px);
  composes:triggerLine;
}

/* -------  menu container  ------- */
.menuContainer {
  overflow:hidden;
  transition:0.22s max-height;
}
/* -------  menu list  ------- */
.menuList {
  padding:0.75em 1em;
}
/* -------  menu item  ------- */
.menuItem {
  margin-bottom:0.8em;
}
/* -------  menu item  ------- */
.menuBlock {
  height:0.5em;
}
/* -------  menu link  ------- */
.menuLink {
  display:block;
  transition:0.22s color;
}
/* -------  menu link - ::after  ------- */
.menuLink::after {
  content:'';
  display:block;
  height:2px;
  background-image:linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,0.66),rgba(0,0,0,0));
}
/* -------  menu link - extra  ------- */
.menuLinkExtra {
  font-size:75%;
  composes:menuLink;
}

/* -------  header container - menu open  ------- */
.menuOpen {
  composes:headerContainer;
}
/* -------  menu open - trigger line - top  ------- */
.menuOpen .triggerLineTop {
  transform:rotate(-45deg);
}
/* -------  menu open - trigger line - bottom  ------- */
.menuOpen .triggerLineBottom {
  transform:rotate(45deg);
}
