
/* -------  header container - menu closed  ------- */
.headerContainer {
  background:#f5f5f5;
  color:#070707;
  width:100%;
  font-size:1.2em;
  z-index:10;
}

/* -------  logo container  ------- */
.logoContainer {
  height:60px;
  padding:0 2%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
/* -------  logo  ------- */
.logo {
  display:block;
  height:48px;
  padding:1%;
}

/* -------  trigger  ------- */
.trigger {
  width:52px;
  height:52px;
  position:relative;
  cursor:pointer;
}
/* -------  trigger line  ------- */
.triggerLine {
  height:2px;
  width:24px;
  display:block;
  background:#070707;
  position:absolute;
  top:25px;
  left:14px;
  transition:transform 0.22s;
}
/* -------  trigger line - top  ------- */
.triggerTop {
  transform:translateY(-4px);
  composes:triggerLine;
}
/* -------  trigger line - bottom  ------- */
.triggerBottom {
  transform:translateY(4px);
  composes:triggerLine;
}

/* -------  menu container  ------- */
.menuContainer {
  overflow:hidden;
  transition:0.22s max-height;
}
/* -------  menu list  ------- */
.menuList {
  padding:0.75em 1em;
}
/* -------  menu item  ------- */
.menuItem, .menuExtra {
  margin-bottom:0.8em;
}
/* -------  menu item  ------- */
.menuBlock {
  height:0.5em;
}
/* -------  menu link  ------- */
.menuLink {
  display:block;
  transition:0.22s color;
}
.menuLink:hover {
  color:#616161;
}
/* -------  menu link - ::after  ------- */
.menuLink::after,:global(.active::after) {
  content:'';
  display:block;
  height:2px;
  background-image:linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,0));
}
/* -------  menu link - extra  ------- */
.menuLinkExtra {
  font-size:85%;
  letter-spacing:1px;
  composes:menuLink;
}

/* -------  menu open - header container  ------- */
.menuOpen {
  composes:headerContainer;
}
/* -------  menu open - trigger line - top  ------- */
.menuOpen .triggerTop {
  transform:rotate(-45deg);
}
/* -------  menu open - trigger line - bottom  ------- */
.menuOpen .triggerBottom {
  transform:rotate(45deg);
}


/* -------------------------------- */
/* -------     >= 667px     ------- */
/* -------------------------------- */
@media only screen and (min-width:667px) {

  .headerContainer {
    line-height:1;
    height:60px;
    padding:0 2%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-shrink:0;
  }

  .logoContainer {
    padding:0;
  }
  .trigger {
    display:none;
  }

  .menuContainer {
    flex-grow:1;
    max-width:550px;
  }
  .menuList {
    padding:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  .menuItem {
    margin:0 2%;
  }
  .menuExtra {
    margin:0 1%;
  }
  .menuLink:hover {
    color:initial;
  }
  .menuLink::after, :global(.active::after) {
    width:0px;
    margin-right:auto;
    margin-top:2px;
    transition:width 0.22s;
  }
  .menuLink:hover::after , :global(.active::after) {
    width:100%;
  }
  .menuBlock {
    height:40px;
    width:2px;
    background:#070707;
    margin:0 2%;
  }
}
