.linescoreContainer {
  padding: 1em;
  text-align: center;
}

.linescoreContainer table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 0.9em;
}

.linescoreContainer thead {
  border-bottom: 2px solid #e0e0e0;
}

.linescoreContainer tr {
  height: 2.4em;
}

.linescoreContainer th,
.linescoreContainer td {
  width: 2em;
  padding: 2px 4px;
}

.linescoreContainer thead th:first-child,
.linescoreContainer tbody th:first-child {
  border-right: 2px solid #e0e0e0;
  width: 4em;
  text-align: left;
}

.linescoreContainer tbody td:nth-last-child(-n+4),
.linescoreContainer thead th:nth-last-child(-n+4) {
  font-weight: bold;
  width: 2.2em;
}

.linescoreContainer thead th:nth-last-child(4),
.linescoreContainer tbody td:nth-last-child(4),
.linescoreContainer thead th:nth-last-child(1),
.linescoreContainer tbody td:nth-last-child(1) {
  border-left: 2px solid #e0e0e0;
}
.linescoreContainer tbody td:nth-last-child(1) {
  font-weight: normal;
}
