
/* -------  box score container  ------- */
.boxScoreContainer {
  composes:tableContainer from 'styles/shared.css';
}
/* -------  box score table  ------- */
.boxScoreTable {
  composes:table from 'styles/shared.css';
}
/* -------  box score table head  ------- */
.boxScoreTableHead {
  composes:tableHead from 'styles/shared.css';
}
/* -------  box score table body  ------- */
.boxScoreTableBody {
  composes:tableBody from 'styles/shared.css'
}
/* -------  box score table body - td:last-child  ------- */
.boxScoreTableBody td:last-child {
  font-weight:700;
}
