.gameContainer {
  background: #fafafa;
  border: 12px solid #f5f5f5;
  border-top: 0;
  margin: 2%;
  flex-basis: 28%;
}

.gameInfo {
  background: #f5f5f5;
  padding: 7.5px 15px;
  font-size: 1.15em;
}


.teamContainer {
  display: flex;
  align-items: center;
  font-size: 1.8em;
}

.teamContainer:nth-child(2) {
  border-bottom: 12px solid #f5f5f5;
}

.logo {
  max-height: 100px;
  flex-basis: 30%;
}
.team {
  display: flex;
  flex-direction: column;
  flex-basis: 56%;
}
.name {

}
.record {
  font-size: 55%;
}
sup {
  font-size: 65%;
}
.score {
  flex-basis: 15%;
  margin-left: auto;
}
