.gameContainer {
  composes: container from 'styles/shared.css'
}
.expandIcon {
  cursor: pointer;
  height: 20px;
  font-size: 1.2em;
  composes: flexy from 'styles/shared.css'
}
.expandIcon:hover {
}
