
/* -------  game item  ------- */
.gameItem {
  background:#f5f5f5;
  color:#070707;
  font-size:1.1em;
  border:2px solid #f5f5f5;
  margin:1em;
  flex:1 1 calc(320px - 2em);
  max-width:420px;
  min-width:320px;
}

/* -------  expand icon  ------- */
.expandIcon {
  cursor:pointer;
  font-size:90%;
  display:flex;
  justify-content:center;
}
/* -------  expand icon - svg  ------- */
.expandIcon svg {
  transition:transform 0.12s;
}


/* -------  expanded icon  ------- */
.expandedIcon {
  composes:expandIcon;
}
/* -------  expanded icon - svg  ------- */
.expandedIcon svg {
  transform:rotate(45deg);
}


/*.details:empty {
  opacity:0;
  display:block;
}


.details:not(:empty) {
  display:block;
  background:#fff;
  opacity:1;
  transition:opacity 0.66s 0.22s;
}*/

.details {
  opacity:0;
  transition:opacity 0.66s 0.22s;
  display:block;
}

.detailsExpanded {
  opacity:1;
  transition:opacity 0.66s 0.22s;
  display:block;
  background:#fff;
  composes:details;
}
