
/* ------------------------ */
/* -------  colors  ------- */
/* ------------------------ */
$real_white: #ffffff;
$white:      #f5f5f5;
$grey1:      #e0e0e0;
$grey2:      #d3d3d3;
$grey3:      #9b9b9b;
$grey4:      #656565;
$grey5:      #3f3f3f;
$black:      #070707;
$real_black: #000000;
$red:        #ba0021;
$green:      #00ba21;


/* ------------------------ */
/* ---  media queries  ---- */
/* ------------------------ */
$medium:667px;
$large:999px;
$xlarge:1331px;

//
// // fonts
// $avenir:'Avenir Next',Avenir,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
// $font__yellowtail:'Yellowtail',cursive;
// $open:'Open Sans',sans-serif;
// $normal:400;
// $bold:600;
//
// // colors
// $color__white:#ffffff;
// $color__grey:#616161;
// $color__black:#070707;
// $color__purple:#30049e;
//
//
// // media queries + sizing
// $xxsmall:20em;
// $xsmall:25em;
// $small:40em;
// $medium:55em;
// $large:70em;
// $xlarge:85em;
// $xxlarge:100em;
//
// $width:80%;
// $width__max:1600px;
//
// // timing
// $timing__instant:0.0s;
// $timing__quick:0.22s;
// $timing__average:0.33s;
// $timing__medium:0.44s;
// $timing__slow:0.66s;
// $cubic:cubic-bezier(0.25,0.46,0.45,0.94);
