
/* -------  colors  ------- */
/* ------------------------ */
$real_white: #ffffff;
$white:      #f5f5f5;
$grey1:      #e0e0e0;
$grey2:      #d3d3d3;
$grey3:      #9b9b9b;
$grey4:      #656565;
$grey5:      #3f3f3f;
$grey6:      #323232;
$black:      #070707;
$real_black: #000000;
$red:        #ba0021;
$green:      #00ba21;


/* ---  media queries  ---- */
/* ------------------------ */
$medium:667px;
$large:999px;
$xlarge:1331px;
$xxlarge:1663px;
