.container {
  background: #f5f5f5;
  color: #070707;
  border: 2px solid #f5f5f5;
  margin: 2.25%;
  flex-basis: 27.5%;
}
.flexy {
  display: flex;
  align-items: center;
  justify-content: center;
}

















.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.largeHeader {
  color: #e0e0e0;
  font-weight: 100;
  font-size: 7em;
  margin-bottom: 20px;
}

.subHeader {
  color: #bdbdbd;
  font-size: 3em;
  text-align: center;
  line-height: 55px;
  font-weight: 100;
}

.teamContainer {
  display: flex;
  align-items: center;
  font-size: 2em;
  color: #f5f5f5;
}
