

.tableContainer {
  font-size:0.8em;
  display:flex;
  align-items:center;
}
.table {
  width:100%;
  table-layout:fixed;
  border-collapse:collapse;
}
.tableHead {
  border-bottom:1px solid #e0e0e0;
}
.tableRow {
  height:2.6em;
}
.tableRowFirstChild {
  text-align:left;
  letter-spacing:0;
  padding-left:0.5em;
}




























.scoreboardContainer {
  width: 93.33%;
  margin: 0 auto 16em;
  text-align: center;
}

.scoresContainer {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.scoresContainer h1 {
  color: #bdbdbd;
  font-weight: 100;
  font-size: 3.5em;
  margin: 2em 0;
}












.gameContainer {
  background: #f5f5f5;
  color: #070707;
  border: 2px solid #f5f5f5;
  margin: 2.2%;
  flex-basis: 28%;
}

.expandIcon {
  cursor: pointer;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameInfo {
  height: 40px;
  padding: 0 20px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gameInfo sup {
  font-size: 70%;
}
