
/* -------  matchup container  ------- */
.matchupContainer {
  font-size:0.9em;
  height:6em;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
/* -------  matchup teams  ------- */
.matchupTeams {
  font-weight:700;
  font-size:105%;
}
/* -------  matchup date  ------- */
.matchupDate {
  font-size:95%;
}
/* -------  matchup location  ------- */
.matchupLocation {
  font-size:95%;
}
