{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["ie >= 10"]
        },
        "modules": false,
        "useBuiltIns": true,
        "debug": false
      }
    ],
    "stage-0",
    "react"
  ],
  "ignore": ["node_modules"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-react-stateless-component-name",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["env"], "react", "stage-0"]
    }
  }
}
