{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["ie >= 10"]
        },
        "modules": false,
        "debug": false
      }
    ],
    "@babel/react",
    "@babel/preset-typescript"
  ],
  "ignore": ["node_modules"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-react-stateless-component-name",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "regenerator": true
      }
    ],
    "@babel/plugin-syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env"], "@babel/react"]
    }
  }
}
