{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "commonjs": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["react"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-console": [2, { "allow": ["warn", "error"] }],
    "semi": [2, "never"],
    "no-extra-semi": 2,
    "space-before-function-paren": ["error", "never"],
    "react/jsx-boolean-value": [2, "always"],
    "react/jsx-curly-spacing": [2, "never", { "allowMultiline": false }],
    "react/jsx-no-literals": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 2,
    "react/prop-types": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "__DEV__": true
  }
}
