
.atl {
  color: #e13a3e;
}
.bos {
  color: #008348;
}
.bkn {
  color: #ffffff;
}
.cha {
  color: #1d1160;
}

.chi {
  color: #ce1141;
}

.cle {
  color: #860038;
}

.dal {
  color: #007dc5;
}

.den {
  color: #002d62;
}

.det {
  color: #ed174c;
}

.gsw {
  color: #ffffff;
}

.hou {
  color: #ffffff;
}

.ind {
  color: #ffc633;
}

.lac {
  color: #006bb6;
}

.lal {
  color: #552582;
}

.mem {
  color: #6189b9;
}

.mia {
  color: #98002e;
}

.mil {
  color: #00471b;
}

.min {
  color: #005083;
}

.nop {
  color: #002b5c;
}

.nyk {
  color: #006bb6;
}

.okc {
  color: #007dc3;
}

.orl {
  color: #c4ced3;
}

.phi {
  color: #ed174c;
}

.phx {
  color: #e56020;
}

.por {
  color: #e03a3e;
}

.sac {
  color: #724c9f;
}

.sas {
  color: #061922;
}

.tor {
  color: #061922;
}

.uta {
  color: #002b5c;
}

.wsh {
  color: #e31837;
}
