
/* -------  Footer  ------- */
.container {
  width:100%;
  flex:0 0 2.5em;
  font-size:2.4em;
  color:$black;;
  display:flex;
  align-items:center;
  justify-content:center;
}
@media only screen and (min-width:$large) {
  .container {
    font-size:3em;
  }
}
