.footerContainer {
  position: absolute;
  bottom:0;right:0;
  margin:1%;
  color: #e0e0e0;
}
.footerContainer a {
  padding: 0.5em;
  transition: color 0.28s ease-in-out;
}
.ux {
  font-size: 1.5em;
}

.ux:hover {
  color: #bdbdbd;
}

.tweeter {
  font-size: 2em;
}

.tweeter:hover {
  color: #1da1f2;
}
