
/* -------  Event  ------- */
.event {
  width:90%;
  height:8em;
  margin-top:6vh;
}

@media only screen and (min-width:$medium) {
  .event {
    height:9em;
    margin-top:9vh;
  }
}

@media only screen and (min-width:$large) {
  .event {
    height:10em;
    margin-top:12vh;
  }
}
@media only screen and (min-width:$xlarge) {
  .event {
    height:11em;
    margin-top:15vh;
  }
}
