.detailsContainer {
  padding:1em;
  float: left;
}

.detailsContainer h4 {
  text-decoration: underline;
  margin: 0 0 5px;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em 0;
  text-align: center;
  height:73px;
}

.aboutContainer small {
  font-size: 96%;
}
