.detailsContainer {
  background: #f5f5f5;
  padding: 1.5em;
  font-size: 0.9em;
}
.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
}
.linescoreContainer {
  padding: 1em 1em 2em;
  text-align: center;
}
.pitchersContainer {
}
.pitchersContainer h5 {
  margin: 0;
  line-height: 1.2em;
}
.pitchersTeam {
  font-size: 0.8em;
  font-weight: 700;
}
.line {
  border-bottom: 1px solid #5a5a5a;
  margin: 1em 0;
  width:20%;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}
thead {
  border-bottom: 2px solid #e0e0e0;
}
tr {
  height: 2.4em;
}
th, td {
  width: 2.2em;
  padding: 2px 4px;
}
thead th:first-child, tbody th:first-child {
  border-right: 2px solid #e0e0e0;
  width: 4.2em;
  text-align: left;
}
thead th:nth-last-child(3), tbody td:nth-last-child(3) {
  border-left: 2px solid #e0e0e0;
}
tbody td:nth-last-child(-n+3), thead th:nth-last-child(-n+3) {
  text-align: right;
  font-weight: 700;
}
