
/* -------  Diamond  ------- */
.container {
  margin-top:1.5em;
  display:flex;
  justify-content:space-around;
}
.leftSide {
  width:48%;
  display:flex;
  align-items:center;
  flex-direction:column;
}
.rightSide {
  width:33%;
  display:flex;
  align-items:flex-end;
}
.bsoContainer {
  margin-bottom:25%;
  text-align:left;
}
.runnersContainer { }
.matchupContainer { }
