.standingsContainer {
  margin: 0 auto 8em;
  text-align: center;
  width: 93.333%;
}
.teamsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.table {
  background: #f5f5f5;
  color: #070707;
  margin: 2.5%;
  flex-basis: 40%;
  border: 2px solid #f5f5f5;
}
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4em;
  padding-right: 0.5%;
}
.headingRow {
  composes: row;
  background: #070707;
  color: #f5f5f5;
  padding: 0.66em 0;
  border-bottom: 2px solid #e0e0e0;
}
.teamRow {
  composes: row;

}
.headingRow .header {
  text-align: left;
  padding-left: 10px;
  flex-basis: 22%;
}
.headingRow span {
  flex-basis: 8%;
  border-bottom: 1px solid #e0e0e0;
}
.teamRow span {
  flex-basis: 8%;
}
.teamRow .name {
  flex-basis: 28%;
  text-align: left;
  margin-left: -5%;
  padding: 6px 12px;
  background: #fff;
  box-shadow: rgb(0,0,0) 0 1px 3px 1px;
}
.logo {
  max-height: 70px;
  flex-basis: 12%;
}



.filterList {
  display:flex;
  padding: 3em 0 1.5em;
  justify-content: flex-start;
  font-size: 1.4em;
  align-items: center;
}
.filterList li {
  padding: 0 1em;
  border-right: 1px solid #e0e0e0;
}
.filterList li:last-child {
  border-right: 0;
}
.filterItem {
  padding: 0 0.4em;
  transition: 0.4s all ease-in-out;
  border-bottom: 1px solid transparent;
}
.filterItem:hover {
  cursor: pointer;
  color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
.filterItem:global(.active) {
  color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
