.header {
  font-size: 4em;
  margin: 1em 0;
  font-weight: 100;
  text-align: center;
  display: flex;
  justify-content: center;
}
.standingsContainer {
  width: 80%;
  margin: 0 auto 8em;
  font-family: 'Comfortaa', cursive;
  background: #f5f5f5;
  border: 2px solid #f5f5f5;
  color: #070707;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sortList {
  display:flex;
  font-family: 'Comfortaa', cursive;
  width: 80%;
  margin: 0 auto;
  padding: 4em 0 2em;
  justify-content: flex-start;
  font-size: 1.4em;
  align-items: center;
}
.sortList li {
  padding: 0 1em;
  transition: 0.4s all;
  border-right: 1px solid #e0e0e0;
}
.sortList li:last-of-type {
  border-right: 0;
}
.sortList li:hover {
  cursor: pointer;
  color: #f5f5f5;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-around;;
  align-items: center;
  flex-basis: 100%;
  font-size: 1.6em;
  padding-right: 0.5%;
}
.filterRow {
  composes: row;
  padding: 1em 0;
  background: #070707;
  color: #e0e0e0;
}
.filterRow span {
  transition: 0.4s all;
  border-bottom: 1px solid #e0e0e0;
}
.filterRow span:hover {
  cursor: pointer;
  color: #f5f5f5;
  border-color: #f5f5f5;
}
.filterRow span:hover.xxLarge {
  cursor: initial;
  color: #e0e0e0;
  border-color: #e0e0e0;
}
.filterRow span svg {
  color: #e0e0e0;
  font-size: 80%;
}
.filterRow .xLarge {
  visibility: hidden;
  flex-basis: 15%;
}
.filterRow .xxLarge {
  padding-left: 10px;
  flex-basis: 11%;
}
.teamLogo {
  max-height: 92px;
  flex-basis: 9%;
}
.xxLarge {
  flex-basis: 10%;
}
.xLarge {
  flex-basis: 17%;
  text-align: left;
  margin-left: -2%;
  margin-right: 0.5%;
  padding: 10px 15px;
  background: #fff;
  box-shadow: rgb(0,0,0) 0 1px 3px 1px;
}
.large {
  text-align: center;
  flex-basis: 7%;
}
.medium {
  text-align: center;
  flex-basis: 4%;
}
.nyy {
  position: relative;
  composes: row;
}
.nyy * {
  z-index: 1;
}
.nyy::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background-position: -27.5% 100%;
  background-size: 15px;
}
.nyy::before {
  background-image: -webkit-linear-gradient(0deg, #fff 86%, #142448 14%);
}
