
/* -------  Stats  ------- */
.container {
  composes:tableContainer from 'styles/_elements.scss';
}
.table {
  composes:table from 'styles/_elements.scss';
}
.head {
  composes:tableHead from 'styles/_elements.scss'
}
.body {
  composes:tableBody from 'styles/_elements.scss'
}
