
/* -------  stats container  ------- */
.statsContainer {
  height:30em;
  composes:tableContainer from 'styles/shared.css';
}
/* -------  stats table  ------- */
.statsTable {
  composes:table from 'styles/shared.css';
}
/* -------  stats table head  ------- */
.statsTableHead {
  composes:tableHead from 'styles/shared.css'
}
/* -------  stats table body  ------- */
.statsTableBody {
  composes:tableBody from 'styles/shared.css'
}
