.headerContainer {
  background: #f5f5f5;
  padding: 0 3.33%;
  color: #070707;
}

.navContainer {
  display: flex;
  height: 115px;
  align-items: center;
  color: #616161;
}

.logoContainer {
  flex: 1;
}

.logo {
  display: flex;
  width: 353px;
  padding: 10px;
}

.navItems {
  display: flex;
  font-size:1.8em;
  flex: 1;
  margin-left:8%;
}

.sportsLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 3;
}

.navLinks {
  display: flex;
  height:66px;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 3px solid #070707;
  align-items: center;
  justify-content: space-around;
  flex: 2;
}

.link {
  position: relative;
  padding: 0 1%;
  transition: color 0.26s ease-in-out
}

.link:hover,
:global(.active) {
  color: #070707;
}

.link::before {
  content: '';
  position: absolute;
  bottom:0;left:50%;right:50%;
  height: 3px;
  background: #070707;
  transition: all 0.26s ease-in-out;
}

.link:hover::before,
:global(.active::before)  {
  left:0;right:0;
}
