.header {
  background: #f5f5f5;
  padding: 0 4%;
  color: #5a5a5a;
}
.navContainer {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: space-between;
}
.logoContainer {
  flex: 3;
}
.logo {
  display: block;
  width: 333px;
  padding: 4px;
}
.navItems {
  display: flex;
  font-size:1.6em;
  align-items: center;
  justify-content: space-between;
  flex: 2;
}
.sportsLinks {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex: 3;
}
.arrow {
  color: #070707;
}
.navLinks {
  display: flex;
  height: 70px;
  border-left: 2px solid #070707;
  margin-left: 1em;
  padding-left: 1em;
  align-items: center;
  justify-content: space-around;
  flex: 2;
}
.link {
  border-bottom: 2px solid transparent;
  transition: all 0.4s;
}
.link:hover {
  border-bottom: 2px solid #070707;
  color: #070707;
}
.littleLink {
  border-bottom: 1px solid transparent;
  transition: all 0.4s;
}
.littleLink:hover {
  border-bottom: 1px solid #070707;
  color: #070707;
}

:global(.active) {
  color: #070707;
}
