
/* -------  MainContainer  ------- */
.container {
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-direction:column;
  transition:0.44s height;
}
.innerContainer {
  width:96%;
  display:flex;
  flex:1 0 auto;
  min-height:60%;
  max-width:1600px;
}
.innerContainer > div:first-child {
  width:100%;
}
