
.tableContainer {
  letter-spacing: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.table {
  font-size: 0.8em;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.table tr {
  height: 3em;
}
.table tr th: first-child {
  text-align: left;
  width: 40%;
  padding-left: 2%;
}
.tableHead {
  border-bottom: 1px solid #e0e0e0;
}
.tableBody tr: nth-of-type(even) {
  background: #f5f5f5;
}
