
/* -------  flex classes  ------- */

.flexyCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexyInlineCentered {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.flexySpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexySpaceAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flexySpaceAroundEnd {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.flexySpaceBetweenStart {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flexyColSpaceBetweenStart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.flexyCenteredStart {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flexyCenteredStartCol {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.flexyCol {
  display: flex;
  flex-direction: column;
}

.flexyInlineCol {
  display: inline-flex;
  flex-direction: column;
}

.flexyWrap {
  display: flex;
  flex-wrap: wrap;
}

.flexyCenteredHorizontal {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.flexyCenteredCol {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}

.flexySelfCentered {
  display: flex;
  align-self: center;
}

/* -------  util classes  ------- */

.clickable {
  cursor: pointer;
}

.notClickable {
  cursor: default;
}

.textOverflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fullSize {
  width: 100%;
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.half {
  flex: 1 0 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fadedOut {
  opacity: 0.5;
  transition: opacity 0.33s;
}

.fadeOnHover:hover {
  opacity: 1;
}

.stopTextMoving {
  backface-visibility: hidden;
  transform: rotate(0deg) translateZ(0);
}

.empty {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #3d3c3c;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
}

.hidden {
  display: none;
}

/* -------  template classes  ------- */

.boxyShadowMain {
  overflow: hidden;
  border-radius: 2px;
  background: #fff;
  width: 100%;
  box-shadow: 0 7.5px 17.5px rgba(50,50,93,.1), 0 2.5px 7.5px rgba(0,0,0,.07);
}

.boxyShadowHover {
  overflow: hidden;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 7.5px 17.5px rgba(50,50,93,.1), 0 2.5px 7.5px rgba(0,0,0,.07);
  transition: transform .33s, box-shadow .33s;
}

.boxyShadowHover:hover {
  transform: translateY(-2px);
  box-shadow: 0 9px 17.5px rgba(50,50,93,.1), 0 4px 7.5px rgba(0,0,0,.07);
}

.minimalBottomShadow {
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2.5px 7.5px rgba(50,50,93,.1), 0 0.625px 1.875px rgba(0,0,0,.07)
}

/* -------  template classes  ------- */

.innerContentMaxWidth {
  padding: 0 8.333333%;
  margin: 50px auto 150px;
  max-width: 2450px;
}
