
/**
 * Colors
 */
$white:      #ffffff;
$offwhite:   #f5f5f5;
$grey1:      #e0e0e0;
$grey2:      #d3d3d3;
$grey3:      #9b9b9b;
$grey4:      #656565;
$grey5:      #3f3f3f;
$grey6:      #323232;
$offblack:   #070707;
$black:      #000000;
$red:        #ba0021;
$green:      #00ba21;

/**
 * Media Queries
 */
$mq_xsmall:     335px;
$mq_small:      667px;
$mq_medium:     999px;
$mq_large:      1331px;
$mq_xlarge:     1690px;
$mq_xxlarge:    2022px;
