/* -------  colors  ------- */
/* ------------------------ */
$real_white: #ffffff; // white
$real_black: #000000; // black
$red: #ba0021; // red
$green: #00ba21; // green
$white: #f5f5f5; // grey[0]
$white2: #f0f0f0; // grey[1]
$grey1: #e0e0e0; // grey[2]
$grey2: #d3d3d3; // grey[3]
$grey3: #9b9b9b; // grey[4]
$grey4: #656565; // grey[5]
$grey5: #3f3f3f; // grey[6]
$grey6: #323232; // grey[7]
$black: #070707; // grey[8]

/* ---  media queries  ---- */
/* ------------------------ */
$medium: 667px;
$large: 999px;
$xlarge: 1331px;
$xxlarge: 1663px;
