
.container {
  height:75px;
  flex:1;
  opacity:0;
  overflow:hidden;
  white-space:nowrap;
  color:transparent;
  transition:opacity 0.33s 0.33s;
}
.container[src$='.png'] {
  max-width:75px;
  margin:0 calc(100% / 13.3333333333334);
}