
/* -------  Social  ------- */
.container {
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
.link {
  line-height:1;
  margin:0 0.66em;
  padding:1%;
  position:relative;
}
.iconOutline {
  display:inline-block;
}
.iconFull {
  opacity:0;
  position:absolute;
  transition:opacity 0.44s;
  composes:iconOutline;
}
.link:hover .iconFull {
  opacity:1;
}
