
/* -------  Team  ------- */

.container {
  display: flex;
  align-items: center;
  padding: 2px 0;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 2;
}
.leftSide {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.rightSide {
  padding: 0.25em 0;
  margin: 0 12px;
  border-radius: 1px;
  flex-basis: 60px;
}

.name, .record {
  padding: 2px 8px;
  background: $white;
  border: 1px solid $grey3;
  border-radius: 1px;
}

.name {
  margin-bottom: 6px;
  font-size: 110%;
  max-width: 133px;
}

.name small {
  font-size: 100%;
  letter-spacing: 0px;
}

.record {
  display: table;
  margin-right: auto;
  font-size: 66.6%;
  font-weight: 700;
  padding-top: 3px;
  font-weight: 400;
}

.score {
  display: block;
  font-size: 125%;
  text-align: center;
  font-weight: lighter;
}

/*
  ..edge case for custom Yankees style..  ___go_Giants__¯\_(ツ)_/¯ ___
*/
.nyy {
  position: relative;
  composes: container;
}

.nyy * {
  z-index: 1;
}

.nyy::before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 40%; height: 100%;
  background: linear-gradient(to right, #fffffff 86%, #142448 14%) -27.5% 100% / 15px;
}
