
/* -------  Home  ------- */
.container {
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}
.uxscoreboard {
  display:flex;
  flex:1;
  flex-direction:column;
  justify-content:center;
  margin:2.5% 0 -2.5%;
  width:90%;
}
.name {
  font-size:2.2em;
}
.description {
  font-size:1.28em;
  letter-spacing:0;
  color:$grey5;
}
.menu {
  width:80%;
  flex:1;
  font-size:1.2em;
}
.list {
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
}

@media only screen and (min-width:$medium) {
  /* -------  Home  ------- */
  @media (orientation:portrait) {
    .uxscoreboard {
      font-size:1.8em;
    }
  }
  @media (orientation:landscape) {
    .uxscoreboard {
      font-size:1.16em;
      margin-bottom:2.5%;
    }
  }
  .meny {
    width:90%;
  }
  .item {
    width:25%;
  }
}

@media only screen and (min-width:$large) {
  /* -------  Home  ------- */
  .uxscoreboard {
    font-size:2em;
  }
}

@media only screen and (min-width:$xlarge) {
  /* -------  Home  ------- */
  .uxscoreboard {
    font-size:2.2em;
  }
}
