
/* -------  home container  ------- */
.homeContainer {
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}
.container {

}

/* -------  uxscoreboard  ------- */
.uxscoreboard {
  display:flex;
  flex:1;
  flex-direction:column;
  justify-content:center;
  position:relative;
  top:5%;
}
/* -------  name  ------- */
.name {
  font-size:2.2em;
}
/* -------  description  ------- */
.description {
  font-size:1.1em;
  color:#bdbdbd;
}

/* -------  league menu  ------- */
.leagueMenu {
  width:80%;
  flex:1;
  font-size:1.2em;
  letter-spacing:3px;
}
/* -------  league list  ------- */
.leagueList {
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
}
/* -------  league item  ------- */
.leagueItem {
  width:50%;
  max-width:250px;
}
/* -------  league link  ------- */
.leagueLink {
  display:block;
  padding:8%;
  margin:12%;
  border:2px solid #e0e0e0;
  transition:0.22s color,0.22s background-color,0.22s box-shadow;
}
/* -------  league link - :hover  ------- */
.leagueLink:hover {
  color:#070707;
  background:#e0e0e0;
  box-shadow:inset 0 0 0 0.35em #070707;
}


/* -------------------------------- */
/* -------     >  667px     ------- */
/* -------------------------------- */
@media only screen and (min-width:667px) {

  /* -------  uxscoreboard  ------- */
  .uxscoreboard {
    font-size:1.8em;
  }

  /* -------  league menu  ------- */
  .leagueMenu {
    width:90%;
  }
  /* -------  league item  ------- */
  .leagueItem {
    width:25%;
  }
}

/* -------------------------------- */
/* -------     >  999px     ------- */
/* -------------------------------- */
@media only screen and (min-width:999px) {

  /* -------  uxscoreboard  ------- */
  .uxscoreboard {
    font-size:2.2em;
  }

}

/* -------------------------------- */
/* -------     > 1331px     ------- */
/* -------------------------------- */
@media only screen and (min-width:1331px) {

}
