
/* -------  home container  ------- */
.homeContainer {
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}

/* -------  uxscoreboard  ------- */
.uxscoreboard {
  display:flex;
  flex:1;
  flex-direction:column;
  justify-content:center;
  margin:2.5% 0 -2.5%;
  width:90%;
}
/* -------  name  ------- */
.name {
  font-size:2.2em;
}
/* -------  description  ------- */
.description {
  font-size:1.15em;
  letter-spacing:0;
  color:#545454;
}

/* -------  league menu  ------- */
.leagueMenu {
  width:80%;
  flex:1;
  font-size:1.2em;
}
/* -------  league list  ------- */
.leagueList {
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
}
/* -------  league item  ------- */
.leagueItem {
  width:50%;
  max-width:250px;
}
/* -------  league link  ------- */
.leagueLink {
  display:block;
  padding:8%;
  margin:12%;
  border:2px solid #545454;
  border-radius:3px;
  position:relative;
  transition:color 0.11s,background-color 0.22s,box-shadow 0.22s;
  transition-delay:0.11s;
}
/* -------  league link - :hover  ------- */
.leagueLink:hover {
  color:transparent;
  background:#3f3f3f;
  box-shadow:inset 0 0 0 0.33em #e0e0e0;
}


.leagueLink::after {
  content:'';
  display:block;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center center;
  position:absolute;
  top:13%;bottom:13%;left:0;right:0;
  opacity:0;
  transition:opacity 0.22s;
}

.leagueLink:hover::after {
  opacity:1;
  transition-delay:0.11s;
}

.mlbLink, .nbaLink, .nflLink, .nhlLink { composes:leagueLink }
.mlbLink::after { background-image:url('https://uxscoreboard.com/assets/icons/baseball_light.svg') }
.nbaLink::after { background-image:url('https://uxscoreboard.com/assets/icons/basketball_light.svg') }
.nflLink::after { background-image:url('https://uxscoreboard.com/assets/icons/football_light.svg') }
.nhlLink::after { background-image:url('https://uxscoreboard.com/assets/icons/hockey_light.svg');top:19%;bottom:19% }



/* -------------------------------- */
/* -------     >  667px     ------- */
/* -------------------------------- */
@media only screen and (min-width:667px) {

  @media (orientation:portrait) {
    .uxscoreboard {
      font-size:1.8em;
    }
  }
  @media (orientation:landscape) {
    .uxscoreboard {
      font-size:1.16em;
      margin-bottom:2.5%;
    }
  }

  .leagueMenu {
    width:90%;
  }
  .leagueItem {
    width:25%;
  }
}

/* -------------------------------- */
/* -------     >  999px     ------- */
/* -------------------------------- */
@media only screen and (min-width:999px) {

  /* -------  uxscoreboard  ------- */
  .uxscoreboard {
    font-size:2em;
  }

}

/* -------------------------------- */
/* -------     > 1331px     ------- */
/* -------------------------------- */
@media only screen and (min-width:1331px) {

  /* -------  uxscoreboard  ------- */
  .uxscoreboard {
    font-size:2.2em;
  }

}
