/* -------  Item  ------- */
.item {
  flex-basis: 48%;
  max-width: 240px;
}
.link {
  display: block;
  padding: 7%;
  margin: 7%;
  background: $white2;
  border: 2px solid $grey5;
  border-radius: 3px;
  position: relative;
  transition: color 0.11s, background-color 0.22s, box-shadow 0.22s;
  transition-delay: 0.11s;
}
.link:hover {
  color: transparent;
  background: $grey5;
  box-shadow: inset 0 0 0 0.33em $white2;
}
.link::after {
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.22s;
}
.link:hover::after {
  opacity: 1;
  transition-delay: 0.11s;
}
.mlb,
.mls,
.nba,
.nfl,
.nhl {
  composes: link;
}
.mlb::after {
  background-image: url('/assets/static/icons/baseball_light.svg');
}
.mls::after {
  background-image: url('/assets/static/icons/soccer_light.svg');
}
.nba::after {
  background-image: url('/assets/static/icons/basketball_light.svg');
}
.nfl::after {
  background-image: url('/assets/static/icons/football_light.svg');
}
.nhl::after {
  background-image: url('/assets/static/icons/hockey_light.svg');
  top: 20%;
  bottom: 20%;
}

@media only screen and (min-width: $medium) {
  .item {
    flex-basis: 33.3%;
  }
}
@media only screen and (min-width: $xlarge) {
  .item {
    flex-basis: 20%;
  }
}
