/* -------  MainContainer  ------- */
.outerContainer {
  display: flex;
  flex-direction: column;
  transition: 0.44s height;
}
.innerContainer {
  width: 96%;
  display: flex;
  flex: 1 0 auto;
  min-height: 60%;
  max-width: 1600px;
}
.innerContainer > div:first-child {
  width: 100%;
}
