.pitchingInfo {
  /*display: flex;
  align-items: flex-start;;
  justify-content: center;
  flex-direction: column;*/
  margin: 1em 0 0;
  height:62px;
}

.pitchingInfo span {
  display: block;
  float:left;
  clear:both;
}

.alertsContainer {
  text-align: center;
  font-style: italic;
  padding: 1em 0;
  font-size: 0.9em;
}
