.container {
  display: flex;
  align-items: center;
  font-size: 2em;
  padding: 4px 0;
  background: #f5f5f5;
  color: #070707;
}
.teamLogo {
  max-height: 110px;
  min-width: 130px;
  flex-basis: 27.5%;
  margin-right: 5px;
}
.teamInfo {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}
.teamInfo span {
  background: #fff;
  box-shadow: rgb(0,0,0) 0 1px 3px 1px;
}
.teamName {
  margin-bottom: 10px;
  padding: 2px 8px;
  width: 60%;
}
.teamName small {
  font-size: 85%;
}
.teamRecord {
  font-size: 45%;
  padding: 4px 8px;
  width: 30%;
}
.teamScore {
  text-align: center;
  flex-basis: 12%;
  font-size: 150%;
  margin-left: -9%;
  padding: 6px;
}
