.teamContainer {
  display: flex;
  align-items: center;
  font-size: 2em;
  padding: 2px 0;
}
.teamLogo {
  max-height: 110px;
  flex-basis: 27.5%;
}
.teamInfo {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}
.teamName {
  margin-bottom: 10px;
  padding: 2px 8px;
  width: 65%;
  background: #fff;
  box-shadow: rgb(0, 0, 0) 0 1px 2px 1px;
}
.teamRecord {
  font-size: 47.5%;
  padding: 4px 8px;
  width: 32.5%;
  background: #fff;
  box-shadow: rgb(0, 0, 0) 0 1px 2px 1px;
}
.teamScore {
  text-align: center;
  flex-basis: 12%;
  font-size: 120%;
  margin-left: -8%;
  padding: 6px;
  background: #fff;
  box-shadow: rgb(0, 0, 0) 0 1px 2px 1px;
}
