
/* -------  mlb teams  ------- */
.ana_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ba0021 40%,transparent 0%) }
.ari_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#000000 40%,transparent 0%) }
.atl_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#13274f 40%,transparent 0%) }
.bal_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#000000 40%,transparent 0%) }
.bos_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#0d2b56 40%,transparent 0%) }
.chc_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#0e3386 40%,transparent 0%) }
.cin_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#c6011f 40%,transparent 0%) }
.cle_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#002b5c 40%,transparent 0%) }
.col_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#c4ced4 40%,transparent 0%) }
.cws_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#000000 40%,transparent 0%) }
.det_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }
.hou_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#002d62 40%,transparent 0%) }
.kc_mlb  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }
.la_mlb  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }
.mia_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#0077c8 40%,transparent 0%) }
.mil_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#0a2351 40%,transparent 0%) }
.min_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#d31145 40%,transparent 0%) }
.nym_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#002d72 40%,transparent 0%) }
.nyy_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#142448 40%,transparent 0%) }
.oak_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#003831 40%,transparent 0%) }
.phi_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#e81828 40%,transparent 0%) }
.pit_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#fdb827 40%,transparent 0%) }
.sd_mlb  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#7f411c 40%,transparent 0%) }
.sea_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#005c5c 40%,transparent 0%) }
.sf_mlb  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#000000 40%,transparent 0%) }
.stl_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#c41e3a 40%,transparent 0%) }
.tb_mlb  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#8fbce6 40%,transparent 0%) }
.tex_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#003278 40%,transparent 0%) }
.tor_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#134a8e 40%,transparent 0%) }
.was_mlb { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ab0003 40%,transparent 0%) }
/*  edge case for the custom Yankees background-image... ___go_Giants__¯\_(ツ)_/¯ ___  */
.nyy_mlb { position:relative; }
.nyy_mlb * { z-index:1; }
.nyy_mlb::before { content:'';position:absolute;left:0;top:0;width:40%;height:100%;background-image-position:-27.5% 100%; }
.nyy_mlb::before { background-size:15px;background-image:linear-gradient(to right,#ffffff 86%,#142448 14%) }
/*  special case for the mlb all-star game  */
.nl_mlb  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#7f411c 40%,transparent 0%) }
.al_mlb  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#fec325 40%,transparent 0%) }


/* -------  mhl teams  ------- */
.ari_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#8c2633 40%,transparent 0%); }
.ana_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#111111 40%,transparent 0%); }
.bos_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#111111 40%,transparent 0%); }
.buf_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#002654 40%,transparent 0%); }
.car_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#111111 40%,transparent 0%); }
.cbj_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#002654 40%,transparent 0%); }
.cgy_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#111111 40%,transparent 0%); }
.chi_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#cf0a2c 40%,transparent 0%); }
.col_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#006bb6 40%,transparent 0%); }
.dal_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#006847 40%,transparent 0%); }
.det_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%); }
.edm_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%); }
.fla_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#002654 40%,transparent 0%); }
.lak_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#111111 40%,transparent 0%); }
.min_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#024930 40%,transparent 0%); }
.mtl_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%); }
.njd_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ce1126 40%,transparent 0%); }
.nsh_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#fcb514 40%,transparent 0%); }
.nyi_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#003893 40%,transparent 0%); }
.nyr_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%); }
.ott_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ce1126 40%,transparent 0%); }
.phi_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#f74902 40%,transparent 0%); }
.pit_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#000000 40%,transparent 0%); }
.sjs_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#006d75 40%,transparent 0%); }
.stl_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#002654 40%,transparent 0%); }
.tbl_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#002868 40%,transparent 0%); }
.tor_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#002868 40%,transparent 0%); }
.van_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#c4ced3 40%,transparent 0%); }
.wpg_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#041e41 40%,transparent 0%); }
.wsh_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#cf0a2c 40%,transparent 0%); }
/*  special case for the nhl all-star game  */
.atl_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffb81c 40%,transparent 0%); }
.cen_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#582c83 40%,transparent 0%); }
.met_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%); }
.pac_nhl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#010101 40%,transparent 0%); }


/* -------  nba teams  ------- */
.atl_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#e13a3e 40%,transparent 0%) }
.bos_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#008348 40%,transparent 0%) }
.bkn_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }
.cha_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#008ca8 40%,transparent 0%) }
.chi_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }
.cle_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#860038 40%,transparent 0%) }
.dal_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#007dc5 40%,transparent 0%) }
.den_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#002d62 40%,transparent 0%) }
.det_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ed174c 40%,transparent 0%) }
.gsw_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }
.hou_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }
.ind_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffc633 40%,transparent 0%) }
.lac_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }
.lal_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }
.mem_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#bbd1e4 40%,transparent 0%) }
.mia_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }
.mil_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#00471b 40%,transparent 0%) }
.min_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#005083 40%,transparent 0%) }
.nop_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#002b5c 40%,transparent 0%) }
.nyk_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#006bb6 40%,transparent 0%) }
.okc_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#007dc3 40%,transparent 0%) }
.orl_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#c4ced3 40%,transparent 0%) }
.phi_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ed174c 40%,transparent 0%) }
.phx_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#e56020 40%,transparent 0%) }
.por_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#061922 40%,transparent 0%) }
.sac_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#5a2f80 40%,transparent 0%) }
.sas_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#061922 40%,transparent 0%) }
.tor_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#061922 40%,transparent 0%) }
.uta_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#002b5c 40%,transparent 0%) }
.was_nba  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#002b5c 40%,transparent 0%) }
/*  special case for the all-star game */
.wld_nba { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }
.usa_nba { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }
.wst_nba { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }
.est_nba { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }


/* -------  nfl teams  ------- */
.ari_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#97233f 40%,transparent 0%) }
.atl_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#000000 40%,transparent 0%) }
.bal_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#2c2d8b 40%,transparent 0%) }
.buf_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#c60c30 40%,transparent 0%) }
.car_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#bfc0bf 40%,transparent 0%) }
.chi_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }
.cin_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#000000 40%,transparent 0%) }
.cle_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#311d00 40%,transparent 0%) }
.dal_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#002244 40%,transparent 0%) }
.den_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#fb4f13 40%,transparent 0%) }
.det_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#b0b7bc 40%,transparent 0%) }
.gb_nfl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffb612 40%,transparent 0%) }

.hou_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }
.ind_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ffffff 40%,transparent 0%) }
.jax_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#0077c8 40%,transparent 0%) }
.kc_nfl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#0a2351 40%,transparent 0%) }
.la_nfl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#d31145 40%,transparent 0%) }
.mia_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#002d72 40%,transparent 0%) }
.min_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#002d72 40%,transparent 0%) }
.ne_nfl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#142448 40%,transparent 0%) }
.no_nfl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#003831 40%,transparent 0%) }
.nyg_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#e81828 40%,transparent 0%) }
.nyj_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#fdb827 40%,transparent 0%) }
.oak_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#7f411c 40%,transparent 0%) }
.phi_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#005c5c 40%,transparent 0%) }
.pit_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#000000 40%,transparent 0%) }
.sd_nfl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#c41e3a 40%,transparent 0%) }
.sea_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#8fbce6 40%,transparent 0%) }
.sf_nfl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#003278 40%,transparent 0%) }
.tb_nfl  { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#134a8e 40%,transparent 0%) }
.ten_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ab0003 40%,transparent 0%) }
.was_nfl { composes:teamContainer from './styles.css';background-image:linear-gradient(to right,#ab0003 40%,transparent 0%) }
