
/* -------  Matchup  ------- */
.container {
  font-size:0.9em;
  height:6em;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.teams {
  font-weight:700;
  font-size:105%;
}
.date {
  font-size:100%;
}
.location {
  font-size:95%;
}
