
/* -------  NoGames  ------- */
.container {
  margin:1em;
  height:205px;
  display:flex;
  align-items:center;
  font-size:1.1em;
}
.text {
  letter-spacing:0;
  text-align:center;
  padding:0.8em 1.6em;
  border:1px solid currentColor;
  border-radius:2px;
  background:$grey1;
  text-transform:capitalize;
  font-weight:lighter;
}

@media only screen and (min-width:$medium) {
  .text {
    font-size:1.2em;
  }
}
