.scoreboardContainer {
  width: 93.33%;
  margin: 0 auto 8em;
  text-align: center;
}

.scoresContainer {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.scoresContainer h1 {
  color: #bdbdbd;
  font-weight: 100;
  font-size: 3.5em;
  margin: 2em 0;
}
