
/* -------  Scoreboard  ------- */
.container {
  height:100%;
  display:flex;
  flex-direction:column;
  padding-bottom:2em;
}
.list {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:flex-start;
  align-content:flex-start;
}
.fade {
  width:100%;
  display:flex;
  position:relative;
}
.fade, .list {
  flex:1;
}
