
/* -------  Scoreboard  ------- */
.container {
  height:100%;
  display:flex;
  flex-direction:column;
  padding-bottom:2em;
}
.list {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:flex-start;
  align-content:flex-start;
}
.fade {
  width:100%;
  display:flex;
  position:relative;
}
.fade, .list {
  flex:1;
}
.extra {
  width:100%;
  height:8em;
  margin-top:6vh;
}

@media only screen and (min-width:$medium) {
  .extra {
    height:9em;
    margin-top:9vh;
  }
}

@media only screen and (min-width:$large) {
  .extra {
    height:10em;
    margin-top:12vh;
  }
}
@media only screen and (min-width:$xlarge) {
  .extra {
    height:11em;
    margin-top:15vh;
  }
}
