
/* -------  scoreboard container  ------- */
.scoreboardContainer {
  height:100%;
  display:flex;
  flex-direction:column;
  padding-bottom:2em;
}

/* -------  games list  ------- */
.gamesList {
  display:flex;
  justify-content:center;
  align-items:flex-start;
  flex-wrap:wrap;
}

/* -------  fade container  ------- */
.fadeContainer {
  width:100%;
  position:relative;
}
