.scoreboardContainer { margin-bottom:2.5em }

.gamesContainer {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gamesContainer h1 {
  color: #bdbdbd;
  font-weight: 100;
  font-size: 3.5em;
  margin: 2em 0;
}
