.scoreboardContainer {
  width:96%;
  margin:0 auto 6em;
}

.scoresContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.header {
  font-size: 4em;
  margin: 1em 0;
  font-weight: 100;
  text-align: center;
}
