
/* -------  PanelMenu  ------- */
.menu {
  height:1.95em;
  width:75%;
  overflow:hidden;
  border-radius:2px;
  border:1px solid $grey4;
  margin:0.75em auto 1.5em;
}
.list {
  display:flex;
  font-size:0.7em;
  height:100%;
}
