.alertsContainer {
  text-align: center;
  font-style: italic;
  width: 90%;
  margin: 1em auto;
  font-size: 0.86em;
  height: 32px;
}
.diamondContainer {
  padding: 1em;
  display: flex;
}

.baseballField {
  width: 50%;
}

.sideContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.runnersOnBase {
  margin: 0 auto;
}

.runnersOnBase span {
  float: left;
  clear: both;
}

.ballsStrikesOuts {
  display: flex;
  flex-direction: column;
}
.bso {
  position: relative;
  margin-left: 18%;
}

.bso strong {
  position: absolute;
  left: -18px;
}

:global(.circle) {
  width: 11px;
  height: 11px;
  display: inline-block;
  margin: 0 2px;
  border-radius: 50%;
  background: #9e9e9e;
}

:global(.circleFilled) {
  background: #d0011b;
}

.phInfo {
  margin: 1em 0;
  float: left;
  clear: both;
  height: 62px;
}
.phInfo span {
  float: left;
  clear: both;
}
.pbpInfo {
  float: left;
  clear: both;
  height:100px;
}
