
/* -------  NoGames  ------- */
.container {
  font-size:1.2em;
  padding:0.8em 1.6em;
  border:1px solid $grey4;
  composes:standardContainer from 'styles/shared.css';
}


@media only screen and (min-width:$medium) {
  .noGamesContainer {
    font-size:1.6em;
  }
}
