
/* -------  diamond container  ------- */
.diamondContainer {
  margin-top:1.5em;
  display:flex;
  justify-content:space-around;
}

/* -------  baseball field container  ------- */
.baseballFieldContainer {
  width:48%;
  display:flex;
  align-items:center;
}
/* -------  baseball field  ------- */
.baseballField {
  padding:4%;
}

/* -------  other info  ------- */
.otherInfo {
  width:33%;
  display:flex;
  align-items:flex-end;
}

/* -------  bso container  ------- */
.bsoContainer {
  margin-bottom:25%;
  text-align:left;
}
/* -------  bso  ------- */
.bso {
}
/* -------  bso heading  ------- */
.bsoHeading {
  font:1.1em/100% monospace;
  display:inline-block;
  width:1.25em;
  letter-spacing:-1px;
}
:global(.circle) {
  width:11px;
  height:11px;
  display:inline-block;
  margin:0 2px;
  border-radius:50%;
  background:#bababa;
}
:global(.circle::after) {
  content:'';
  display:block;
  height:100%;
  width:100%;
  border-radius:100%;
  background:#ba0021;
  opacity:0;
  transition:0.44s opacity;
}
.bso:first-child :global(.circleFilled::after) {
  background:#00ba21;
}
:global(.circle.circleFilled::after) {
  opacity:1;
}
/*:global(.bso:first-child .circle::after) {
  background:#00ba21
}*/



.runnersOnBase {

}
.hitterPitcher {
}
