
/* -------  game state container  ------- */
.gameStateContainer {
  display:flex;
  justify-content:space-between;
  font-size:0.8em;
  padding:4px 12px;
}

/* -------  in-game state container  ------- */
.inGameStateContainer {
  justify-content:flex-end;
  composes:gameStateContainer;
}
