
/* -------  game state container  ------- */
.gameStateContainer {
  display:flex;
  justify-content:space-between;
  font-size:0.8em;
  padding:7px 14px;
  letter-spacing:0.5px;
  line-height:1;
}

/* -------  in-game state container  ------- */
.inGameStateContainer {
  justify-content:flex-end;
  composes:gameStateContainer;
}
