
.notFoundContainer {
  height:100%;
  width:100%;
  background-image:url('https://uxscoreboard.com/assets/img/mr_robot.png');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center;
}
